
profiles {

  milou {
    includeConfig 'conf/hpc.conf'
    includeConfig 'conf/milou.conf'
  }
  irma {
    includeConfig 'conf/hpc.conf'
    includeConfig 'conf/irma.conf'
  }
  desktop {
    includeConfig 'conf/local'
  }
  testing {
    includeConfig 'conf/local.conf'
    env.TRIMMOMATIC_HOME = "/usr/local/Cellar/trimmomatic/0.33/share/java/"
  }

}
