
profiles {

  standard {
    includeConfig 'conf/uppmax.conf'
  }
  
  testing_local {
    env.TRIMMOMATIC_HOME = "/usr/local/Cellar/trimmomatic/0.33/share/java/"
    process.executor = 'local'
    process.cpus = { 1 * task.attempt }
    process.memory = { 1.GB * task.attempt }
    process.time = { 1.h * task.attempt }
    process.errorStrategy = { task.exitStatus == 143 ? 'retry' : 'finish' }
    process.maxRetries = 3
    process.maxErrors = '-1'
  }

}
